.applicant-wrapper{
  i{
    width: $xl-size;
    height: $xl-size;
    color: $kombu-green;
  }
  img {
    border-radius: 50%;
    margin: $s-size 0;
  }
  background: $celadon;
  margin: $s-size;

}