// Colors
$anti-flash-white : #E8F1F2;
$celadon : #B3EFB2;
$mummys-tomb : #7A9E7E;
$kombu-green : #31493C;
$dark-green : #001A23;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
